#cardimg{
    width: 100%;
    height: 100%;
    border-radius: 12px ;
    
}
.border{
    width: 105px;
    height: 30px;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 22px;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #EAE5D7;
    color: #5c4537;
    margin-left: 10px;
    margin-top: 10px;
}
.head{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #70543e;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
}
.click{
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #9c8056;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
@media (max-width: 1256px){
    .cardborder{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}